@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
$font-family-base: "Archivo Narrow", sans-serif;
$dark: #2f320d;
$primary: #2f320d;
$white: #FCFCFC;

@import "../node_modules/bootstrap/scss/bootstrap";