.lunar-calendar-container {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.lunar-calendar-table {
  margin-bottom: 0;
  border-color: #fff;
}

.lunar-calendar-table thead tr {
  background-color: #1f2a31cc;
}

.lunar-calendar-table thead th {
  border-left: none !important;
  border-right: none !important;
  border-color: #fff;
  color: #fff;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 15px;
  padding: 4px;
}

.lunar-calendar-table thead th:last-child {
  border-right: 1px #fff solid !important;
}

.lunar-calendar-table thead th:first-child {
  background-color: #6b6b6b80;
  border-left: 1px #fff solid !important;
}

.lunar-calendar-table td {
  position: relative;
  vertical-align: middle;
  border-color: #fff;
  width: 40px;
  height: 50px;
  padding: 0;
}

.lunar-calendar-day {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 13px;
}

.lunar-calendar-moon {
  max-height: 32px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.lunar-calendar-moon-name {
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
}
