.lunar-calendar-container {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.lunar-calendar-table {
  margin-bottom: 0;
  border-color: #fff;
}

.lunar-calendar-table thead tr {
  background-color: #1f2a31cc;
}

.lunar-calendar-table thead th {
  border-left: none !important;
  border-right: none !important;
  border-color: #fff;
  color: #fff;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 15px;
  padding: 4px;
}

.lunar-calendar-table thead th:last-child {
  border-right: 1px #fff solid !important;
}

.lunar-calendar-table thead th:first-child {
  background-color: #6b6b6b80;
  border-left: 1px #fff solid !important;
}

tbody.max-five-rows .lunar-calendar-day {
  font-size: 13px;
}

tbody.many-rows .lunar-calendar-day {
  font-size: 13px;
  height: 15px;
}

.lunar-calendar-moon {
  height: 32px;
}

.lunar-calendar-moon-name {
  text-align: center;
}

tbody.max-five-rows .lunar-calendar-moon-name {
  font-size: 13px;
}
tbody.many-rows .lunar-calendar-moon-name {
  font-size: 13px;
  height: 15px;
}

tbody.max-five-rows tr {
  height: 74px;
}
tbody.many-rows tr {
  height: 60px;
}
